<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<title>Ejercicio 1</title>

	<script src="scripts/vue.js"></script>
	<link rel="stylesheet" href="css/estilos.css">
</head>

<body>
	<div class="contenedor">
		<h1>Juegos Retro</h1>

		<p>Nuestra lista es exigente con las calificaciones, solo te mostraremos juegos que tengan una calificacion mayor a 6 y resaltaremos las super recomendadas que tengan calificación de 8 en adelante.</p>

		<ul>
			<li v-for="item in juegos" v-if="item.calificacion>6">
				<h2 > {{item.nombre}} {{item.anio}}</h2>
					<img :src="item.portada" :alt="item.alt">
					<p v-for="versiones in item.consola " >{{versiones}} </p>			
		 

				
				<p :class ="item.calificacion >= 8 ? 'green' : 'red'"> calificacion {{ item.calificacion}} </p>    
			</li>
		</ul>
	</div>
	 

	<script src="scripts/app.js"></script>
</body>
</html>